.navbar-nav {
    --bs-nav-link-color: black;
}

.search-field::placeholder {
    color: #6c757d;
}

.search-field:focus {
    color: #6c757d;
}

.cart-info {
    padding: 0 2.15rem;
}

.icon-link {
    margin-bottom: 1rem;
}

.backLink {
    transition: ease-in-out 0.2s;
}

.icon-link:hover .backLink {
    transform: translate3d(-0.5rem, 0, 0);
}

td.view-quantity {
    width: 8%;
}

.adjust-quantity {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.product-image img {
    width: 59%;
    height: 15rem;
    object-fit: cover;
}

.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.select-quantity {
    display: flex;
    gap: 1rem;
}

.select-quantity>input{
    width: 50%;
    text-align: center;
}

.view-quantity {
    width: 8%;
}

.quantity-input {
    text-align: center;
    width: 1.5rem;
}

.btn-remove {
    background: transparent;
    border: 0;
    color: red;
}

.btn-minus,
.btn-plus {
    background: transparent;
    border: 0;
    font-weight: bold;
}

#total-price {
    font-weight: 550;
}

.table>thead,
.table>tbody {
    text-align: center;
}

#confirmButton {
    margin-top: 0.25rem;
}
