* {
    font-family: "Poppins", Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

.navbar {
    --bs-navbar-padding-x: 1.5rem;
    --bs-navbar-padding-y: 2rem;
    --bs-navbar-brand-margin-end: 5.31rem;
    width: 97%;
}

.logo-brand {
    text-align: center;
    font-size: 1.25rem;
    margin-top: 1rem;
    padding: 1.5rem;
}

.d-flex.align-items-start {
    margin-top: 0rem;
    height: 100vh;
}

div#v-pills-tab {
    margin-right: 0 !important;
    background: #fefefe;
    height: 100%;
    gap: 1rem;
}

div#v-pills-tabContent {
    width: 100%;
    background: #f9f9f9;
}

.tab-pane {
    padding: 3rem 2rem;
}

.tab-title {
    font-size: x-large;
    font-weight: 700;
}

.user-basic-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.user-profile {
    display: flex;
    align-items: center;
    margin: 3rem;
    gap: 1rem;
}

.user-ava>img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.date-create p {
    margin-bottom: 0;
}

.change-ava-button {
    position: absolute;
    right: 3%;
}

button#change-avatar-btn {
    color: #1172e9;
    background: transparent;
    padding: 0.75rem 1.5rem;
    border: 2px solid #9ec5dc;
    border-radius: 4rem;
}

button#change-avatar-btn:hover {
    background-color: #0b96e6;
}

.personal-setting {
    margin-top: 3rem;
}

.row {
    justify-content: center;
    gap: 3rem 10rem;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 42%;
}

.col input {
    border-radius: 3rem;
    height: 2.5rem;
    padding: 1rem;
}

.col input::placeholder {
    color: rgb(175, 170, 170);
}

.confirm-change {
    position: absolute;
    right: 6%;
}

.table {
    margin-top: 2rem;
}

.text-info {
    margin-top: 1rem;
}

td>img {
    height: 14rem;
    width: 80%;
    object-fit: cover;
}

#deleteAccountBtn {
    margin-top: 2rem;
}

.backToMain {
    position: absolute;
    bottom: 0;
    left: 1.5vw;
}

.logoutBtn{
    color: red !important;
}

.logoutBtn:focus{
    background-color: transparent;
    border: 0;
}

.form-floating>label{
    left: unset;
}

::-webkit-scrollbar-thumb {
    background-color: #3498db;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #2980b9;
  }

  ::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 4px;
  }
