.navbar-nav {
    --bs-nav-link-color: black;
}

.search-field::placeholder {
    color: #6c757d;
}

.search-field:focus {
    color: #6c757d;
}

.cart-info {
    padding: 0 2.15rem;
}

td.view-quantity {
    width: 8%;
}

.icon-link {
    margin-bottom: 1rem;
}

.backLink {
    transition: ease-in-out 0.2s;
}

.icon-link:hover .backLink {
    transform: translate3d(-0.5rem, 0, 0);
}

.adjust-quantity {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.product-image img {
    width: 75%;
    height: 12rem;
    object-fit: cover;
}

.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.adjust-quantity {
    display: flex;
}

.select-quantity {
    display: flex;
    gap: 1rem;
}

.view-quantity {
    width: 8%;
}

.quantity-input {
    text-align: center;
    width: 1.5rem;
}

.btn-minus,
.btn-plus {
    background: transparent;
    border: 0;
    font-weight: bold;
}

#total-price {
    font-weight: 550;
    border: 0;
}

#total-price:focus{
    outline: none !important;
}

#total-price::placeholder{
    --bs-text-opacity: 1;
    color: rgba(25,135,84)!important;
}

.table > thead,
.table > tbody {
    text-align: center;
}

#confirmButton {
    margin-top: 0.25rem;
}

.confirm-send {
    display: flex;
}

.customer-infor {
    width: 30%;
}

.product-confirm {
    width: 30%;
}

.line {
    margin-right: 2%;
    margin-left: 2%;
    border-left: 2px solid #fadcd9;
    height: 100vh;
}

.confirm-button{
    width: 10%;
}

input{
    cursor: default;
}

@media (max-width: 992px){
    .confirm-send{
        flex-direction: column;
    }

    .line{
        display: none;
    }

    .product-confirm, .customer-infor {
        width: 100%;
    }
}

@media (max-width: 426px){
    .confirm-send{
        overflow-x: scroll;
    }
}
