.navbar-nav {
  --bs-nav-link-color: black;
}

.search-field::placeholder {
  color: #6c757d;
}

.search-field:focus {
  color: #6c757d;
}

input.search-submit {
  display: none !important;
}

.information {
  padding: 0 15%;
}
