* {
  font-family: "Poppins", Arial;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.navbar{
  position: absolute !important;
  z-index: 1 !important;
}

.carousel-inner {
  height: 0;
  padding-bottom: 100vh;
  /* this sets carousel aspect ratio (4:1 here) */
}

.carousel-item {
  position: absolute !important;
  /* Bootstrap is insistent */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.carousel-item img {
  height: 100%;
  /* Bootstrap handles width already */
  object-fit: cover;
  /* or 'contain' if you want stretch instead of crop */
  filter: brightness(0.75);
}

.carousel-control-next,
.carousel-control-prev {
  width: 5%;
  color: aliceblue;
}

.home-title {
  text-align: center;
  top: 24rem;
}

.head-title {
  color: #fff;
  font-size: 3.0625rem;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
}

.head-description {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 300;
}


.addition-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  padding: 1.25rem 0.5rem;
  width: 15rem;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 400;
  text-decoration: none;
}

.home-title>.addition-link {
  margin: auto;
}

.top-product {
  margin-top: 4.5rem;
  margin-bottom: 3.88rem;
}

.top-title {
  color: #373737;
  font-size: 2.75rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.top-description {
  width: 50%;
  color: #8a8a8a;
  text-align: center;
  margin: auto;
  margin-top: 2.5rem;
  font-size: 1.25rem;
  font-weight: 400;
}

.top-product-card {
  margin: 0 4.3% 2rem 4.3%;
  display: flex;
  flex-wrap: nowrap;
}

.product-card-item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 33%;
  padding: 1%;
}

.product-card-item img {
  width: 100%;
  height: 40rem;
  object-fit: cover;
  -webkit-user-drag: none;
}

.product-info {
  margin-top: 1.69rem;
  text-align: center;
}

.product-info a, .product-info p{
  font-size: 1.25rem;
}

.product-name {
  display: flex;
  justify-content: center;
  color: #373737;
  font-size: 1.4375rem;
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: none;
}

.product-price {
  color: #929292;
  text-align: center;
  font-size: 1.4375rem;
  font-weight: 400;
  text-transform: capitalize;
}

p.state {
  position: absolute;
  top: 2rem;
  left: 3rem;
  color: #878686;
  font-size: 1.0625rem;
  font-weight: 700;
  text-transform: capitalize;
}

.banner {
  position: relative;
  display: inline-block;
  width: 100%;
}

.banner-wide-01 {
  width: 100%;
  height: 30rem;
  object-position: 0% 18%;
  object-fit: cover;
  filter: brightness(80%);
}

.banner-wide-02 {
  width: 100%;
  height: 30rem;
  object-position: 0% 55%;
  object-fit: cover;
  filter: brightness(60%);
}

.banner-title {
  padding-bottom: 1.69rem;
}

.banner-description {
  position: absolute;
  text-align: center;
  padding: 0rem calc(10vw/2);
  left: 50%;
  top: 32%;
}

.banner-description>.addition-link {
  margin: auto;
}

.product-list-image {
  height: 33rem;
  object-fit: cover;
  object-position: 0% 0%;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.product-container {
  margin: 9rem 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.product-list {
  display: flex;
  justify-content: center;
  gap: 17rem;
}

.product-title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-title>.addition-link,
.order-now>.addition-link {
  color: black;
  border-color: #373737;
}

.product-list:nth-child(2n) {
  flex-direction: row-reverse;
}

.order-now {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  background: #EFEFEF;
  gap: 3rem;
}

.order-now p {
  color: #373737;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 400;
  margin-bottom: 0;
}

.flag-bold {
  color: #3F3F3F;
  font-size: 2.25rem;
  font-weight: 700;
}

.services {
  display: flex;
  gap: 5rem;
  margin: 5rem 4rem;
}

.services-item {
  flex-grow: 1;
  flex-basis: 25%;
  padding: 3%;
}

.service-icon {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: #353535;
  font-size: 1.5rem;
  font-weight: 600;
}

.service-description {
  color: #ABABAB;
  font-size: 1.25rem;
  font-weight: 400;
}

#carouselUserQuote>.carousel-inner>.carousel-item {
  background-color: #373737;
  height: 50vh;
}

#carouselUserQuote>.carousel-inner {
  padding-bottom: 0;
  height: 50vh;
}

#carousel-caption{
  display: flex;
  height: 100%;
  color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 30rem;
}

#pageCarousel>button {
  height: 10%;
  margin: auto;
}

.customer-feedback {
  margin-top: 2rem;
}

::-webkit-scrollbar-thumb {
  background-color: #3498db;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2980b9;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 4px;
}

@media (max-width: 1330px) {
  #carousel-caption{
    padding: 0 20rem;
  }

  .services {
    flex-wrap: wrap;
  }

  .services-item {
    flex-basis: 45%;
  }

  .product-list-image {
    height: 25rem;
  }

  .product-list{
    gap: 7rem;
  }
}

@media (max-width: 1051px) {
  .top-description{
    width: 80%;
  }

  .order-now {
    padding: 2rem;
    gap: 2rem;
  }

  .product-card-item img{
    height: 30rem;
  }

  .product-list{
    gap: 7rem;
  }

}

@media (max-width: 964px) {
  .product-list-image {
    height: 15rem;
    object-position: 50% 0%;
  }

  #carousel-caption{
    padding: 0 3rem;
  }
}


@media (max-width: 768px) {
  .product-list{
    gap: 2rem;
  }

  .top-product-card {
    flex-direction: column;
    padding-bottom: 7rem;
  }

  .services {
    margin: 5rem 2rem;
  }

  .banner-description {
    left: 0;
  }

}

@media (max-width: 711px) {
  .product-list-image {
    height: 10rem;
  }

  .order-now {
    flex-direction: column;
    height: 40vh;
  }

  .product-container {
    gap: 5rem;
  }
}

@media (max-width: 682px) {
  .product-list-image {
    height: 15rem;
  }

  .product-list {
    flex-direction: column-reverse;
    align-items: center;
  }

  .product-list:nth-child(2n) {
    flex-direction: column-reverse;
  }
}

@media (max-width: 488px) {
  .home-title {
    top: 30rem;
  }

  .product-card-item img{
    height: 20rem;
  }
}

@media (max-width: 455px) {
  .nav-container {
    flex-direction: column;
  }

  .product-list-image {
    height: 12rem;
  }
}

@media (max-width: 426px) {
  html {
    font-size: 14px;
  }

  p.state{
    top: 1.75rem;
    left: 1.75rem;
  }
}

@media(max-height: 780px){
  .carousel-inner{
    height: 130vh;
  }
}
